#onlineRestaurantsSection {
  display: flex;
  height: 100%;
  width: 100%;
  background: url("../app/img/lily-banse--YHSwy6uqvk-unsplash.jpg") no-repeat;
  background-size: cover;
}

#onlineRestaurantsSection h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: left;
  color: white;
}
